<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />



@model sensoresapp.Models.Sensor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Sensores</h2>



<div class="container">
    <div class="row">
        <Legend> Criterios de búsqueda</Legend>
    </div>
    <div class="row grilla-centrada">
        @using (Html.BeginForm("Buscar", "Sensor", FormMethod.Post, new { encType = "multipart/form-data", id = "myform", name = "myform", @class = "form-inline" }))
        {
            @Html.AntiForgeryToken()

            //@ViewBag.listado

            <fieldset>

                <div class="form-group form-group-custom">
                    @Html.Label("Id", "Sensor:")

                    @*Se vincula el drowdownlist con el modelo*@
                    @Html.DropDownListFor(model => model.Id, ViewBag.SensoresDDL as SelectList, new { @class = "form-control" })
                </div>
                <div class="form-group form-group-custom">
                    @Html.Label("minHijos", "Fecha desde:")
                    @Html.EditorFor(model => model.FechaDesde,
        new { htmlAttributes = new { @class = "date-time-picker form-control", @id = "minHijos" } })
                    <br />
                    @Html.ValidationMessageFor(x => x.FechaDesde, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-group-custom">
                    @Html.Label("maxHijos", "Fecha hasta:")
                    @Html.EditorFor(model => model.FechaHasta,
        new { htmlAttributes = new { @class = "date-time-picker form-control", @id = "maxHijos" } })
                    <br />
                    @Html.ValidationMessageFor(x => x.FechaHasta, "", new { @class = "text-danger" })@*--> trabaja con la validacion del modelo*@
                </div>
                <div class="form-group form-group-custom">
                    <input type="submit" value="Buscar" class="btn btn-default btn-buscar" />
                </div>
            </fieldset>


            @*@Html.EditorFor(model => model.Id,
                new { htmlAttributes = new { @id = "id" } })*@


        }
    </div>
</div>
<br />



<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">

            @*<div id="divProcessing">
                    <p>Processing, please wait . . . <img src="../../Content/ajax-loader.gif"></p>
                </div>*@
            <div id="divResultados">
                <span class="text-danger">@Html.Raw(ViewBag.CantidadResultados)</span>
                @if (ViewBag.resultado != null)
                {
                    <div class="grilla-centrada table table">
                            <!--09- armo la tabla con los datos-->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">   
                                    <tr class="success">
                                        <th>
                                            id
                                        </th>
                                        <th>
                                            FechaLectura
                                        </th>
                                        <th>
                                            Temperatura
                                        </th>
                                        <th>
                                            humedad
                                        </th>
                                        <th>
                                            Amoniaco
                                        </th>
                                        <th>
                                            IdSensor
                                        </th>
                                    </tr>

                                    <!--10- itero los datos listado en ViewBag.resultado-->
                                    @foreach (var item in ViewBag.resultado)
                                    {
                                        <tr >
                                            <td>
                                                @item.id
                                            </td>
                                            <td>
                                                @item.fechalectura
                                            </td>
                                            <td>
                                                @item.temperatura
                                            </td>
                                            <td>
                                                @item.humedad
                                            </td>
                                            <td>
                                                @item.amoniaco
                                            </td>
                                            <td>
                                                @item.id_sensor
                                            </td>

                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>

                    </div>                    
                }
                <span class="text-danger">@Html.Raw(ViewBag.Mensaje)</span>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>7
    @*como tiene dependencia de jquery va despues de la misma.*@
    @*@referencia de loading link=https://gasparesganga.com/labs/jquery-loading-overlay/#quick-demo*@
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.3/src/loadingoverlay.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.3/extras/loadingoverlay_progress/loadingoverlay_progress.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $(".date-time-picker").datetimepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+0",
                    dateFormat: 'dd-M-yy',
                    controlType: 'select',
                    timeFormat: 'hh:mm TT',
                    showOn: 'both',
                    buttonText:'<i class="glyphicon glyphicon-calendar"></i>'
                  
                });
            });


            //luego que se carga el dom(documen ready)->busca el objeto(myform)y lo oculta.
            $("#myform").on("submit", function (event) {
                debugger;
                $("#myform").validate();
                var formEsvalido = $("#myform").valid();
                if (formEsvalido) {
                    $("#divResultados").hide();
                    $.LoadingOverlay("show"); /*->solo con esta linea Superposición de página entera*/
                }
            });
        });

    </script>
}






