@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sensores</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">

            <div id="divResultados">

                @if (ViewBag.resultado != null)
                {
                    <div class="grilla-centrada table table">
                        <!--09- armo la tabla con los datos-->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <tr class="success">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            IP
                                        </th>
                                        <th>
                                            PUERTO
                                        </th>
                                        <th>
                                            MAC
                                        </th>
                                        <th>
                                            UBICACIÓN
                                        </th>
                                        <th>
                                            REFRESCO
                                        </th>
                                        <th colspan="2">
                                            ACCIONES
                                        </th>
                                    </tr>

                                    <!--10- itero los datos listado en ViewBag.resultado-->
                                    @foreach (var item in ViewBag.resultado)
                                    {
                                        <tr>
                                            <td>
                                                @item.id
                                            </td>
                                            <td>
                                                @item.ip
                                            </td>
                                            <td>
                                                @item.puerto
                                            </td>
                                            <td>
                                                @item.mac
                                            </td>
                                            <td>
                                                @item.ubicacion
                                            </td>
                                            <td>
                                                @item.refresco
                                            </td>
                                            <td>
                                                @Html.ActionLink("Editar", "Editar","Sensor", new { id = @item.id }, null)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Detalle", "Detalle", "Sensor", new { id = @item.id }, null)
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>

                    </div>
                }
                <span class="text-danger">@Html.Raw(ViewBag.Mensaje)</span>
            </div>
        </div>
    </div>
</div>

